@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Ubuntu:wght@400;500;700&display=swap");
/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
:root {
  --dark-blue: hsl(209, 23%, 22%); /* Neutral (Dark Mode Elements) */
  --mid-dark-blue: hsl(207, 26%, 17%); /* Neutral (Dark Mode Background) */
  --very-dark-blue: hsl(200, 15%, 8%); /* Neutral (Light Mode Text) */
  --dark-gray: hsl(0, 0%, 52%); /* Neutral (Light Mode Input) */
  --very-light-gray: hsl(0, 0%, 98%); /* Neutral (Light Mode Background) */
  --white: hsl(
    0,
    0%,
    100%
  ); /* Neutral (Dark Mode Text & Light Mode Elements) */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  min-height: 750px;
}
body {
  width: 100%;
  min-height: 750px;
  font-family: "Nunito Sans", "Trebuchet MS";
}
/* Root ************************/
.root-lite {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.root-dark {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mid-dark-blue);
  color: var(--white);
}
.mhl-main {
  display: grid;
  grid-template: 1fr 2fr minmax(545px, auto) / auto;
  grid-template-areas:
    "aaa"
    "bbb"
    "ccc";
  gap: 0.2rem;
}
.mdl-main {
  display: grid;
  grid-template: 100px 650px / auto;
  grid-template-areas:
    "top"
    "bottom";
  gap: 0.2rem;
}
/* Aside ************************/
.mhl-aside {
  grid-area: aaa;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 8px 10px -6px hsl(0, 0%, 88%);
}
.mhd-aside {
  grid-area: aaa;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  background-color: var(--dark-blue);
}
.mdl-aside {
  grid-area: top;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 8px 10px -6px hsl(0, 0%, 88%);
}
.mdd-aside {
  grid-area: top;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  background-color: var(--dark-blue);
}
.ddd-aside {
  grid-area: top;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  background-color: var(--dark-blue);
}
.mhl-head {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}
.mhl-a {
  font-size: 0.6rem;
}
a:hover {
  cursor: pointer;
  color: orange;
}
.mhd-a {
  font-size: 0.6rem;
  color: hsl(203, 83%, 47%);
}
.mdd-a {
  font-size: 0.6rem;
  color: hsl(203, 83%, 47%);
}
.ddd-a {
  font-size: 0.6rem;
  color: hsl(203, 83%, 47%);
}
.mhl-b {
  font-size: 0.6rem;
}
.mhl-menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mhl-h1 {
  font-size: 1.1rem;
  width: 13rem;
}
h1:hover {
  cursor: pointer;
  color: gray;
}
.mhl-mode {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
}
.mhd-mode {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
}
.mdd-mode {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
}
.ddd-mode {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
}
.ddd-mode:hover, .mdd-mode:hover, .mhd-mode:hover, .mhl-mode:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.mhl-moonsun {
  width: 20px;
  height: 20px;
  position: relative;
}
.mhl-moonsunimg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.mhl-h2 {
  font-size: 0.8rem;
}
/* Article ************************/
.mhl-article {
  grid-area: bbb;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.mhl-maginp {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 3rem;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
}
.mhd-maginp {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 3rem;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  background-color: var(--dark-blue);
}
.mhl-magcontain {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.mhl-magnify {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mhl-inp {
  height: 3rem;
  width: 15rem;
  border: none;
  outline: none;
}
.mhl-inp:hover {
  cursor: pointer;
  background-color: hsl(0, 17%, 95%);
}
.mhd-inp {
  height: 3rem;
  width: 15rem;
  border: none;
  outline: none;
  background-color: var(--dark-blue);
  color: var(--white);
}
.mhd-inp:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 46%);
}
.mhd-inp::placeholder {
  color: var(--white);
}
select:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.mhl-sel {
  height: 3rem;
  width: 11rem;
  padding: 0.2rem 0.5rem;
  border: none;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
}
.mhd-sel {
  height: 3rem;
  width: 11rem;
  padding: 0.2rem 0.5rem;
  border: none;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Section ************************/
.mhl-sec {
  grid-area: ccc;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1.6rem;
}
.mdl-sec {
  grid-area: bottom;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}
.ddl-sec {
  grid-area: bottom;
  padding: 1rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "gggg gggg gggg gggg gggg gggg"
    "gggg gggg gggg gggg gggg gggg"
    "aone dddd dddd dddd dddd dddd"
    "eeee eeee eeee eeee eeee eeee"
    "btwo btwo btwo cthree cthree cthree"
    "btwo btwo btwo cthree cthree cthree"
    "btwo btwo btwo cthree cthree cthree"
    "btwo btwo btwo cthree cthree cthree"
    "btwo btwo btwo cthree cthree cthree"
    "btwo btwo btwo cthree cthree cthree"
    "ffff ffff ffff ffff ffff ffff"
    "ffff ffff ffff ffff ffff ffff";
  gap: 0.2rem;
}
nav:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.mhl-nav {
  width: 14rem;
  height: 18rem;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
  border-radius: 5px;
}
.mhd-nav {
  width: 14rem;
  height: 18rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  border-radius: 5px;
}
.mhl-flagcontainer {
  width: 14rem;
  height: 9rem;
  position: relative;
}
.mhl-flag {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
}
.mhl-flagdata {
  width: 14rem;
  height: 9rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 1rem;
}
.mhl-h3 {
  font-size: 1.5rem;
}
.mhd-h3 {
  font-size: 1.5rem;
}
.mhl-li {
  list-style-type: none;
}
.mhl-strong {
  font-size: 1rem;
}
.mhl-strong::after {
  content: ": ";
}
.mhl-small {
  font-weight: bold;
  color: var(--dark-gray);
}
.mhd-small {
  font-weight: 100;
  color: var(--very-light-gray);
}
.mdl-arrowback {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
}
.mdd-arrowback {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
}
.ddl-arrowback {
  grid-area: aone;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
}
.ddd-arrowback {
  grid-area: aone;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
}
.mdl-arrowback:hover,
.mdd-arrowback:hover,
.ddl-arrowback:hover,
.ddd-arrowback:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.mdl-arrow {
  width: 20px;
  height: 20px;
  position: relative;
}
.mdl-arrowimg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.mdl-back {
  font-size: 0.8rem;
  font-weight: bold;
}
.mdl-flagcontainer {
  width: 14rem;
  height: 9rem;
  position: relative;
}
.ddl-flagcontainer {
  grid-area: btwo;
  width: 21rem;
  height: 13.5rem;
  position: relative;
}
.mdl-flag {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.ddl-wheredata {
  grid-area: cthree;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "onea onea twob twob"
    "onea onea twob twob"
    "onea onea twob twob"
    "onea onea twob twob"
    "onea onea twob twob"
    "threec threec threec threec";
  gap: 0.2rem;
}
.mdl-infobloc1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.ddl-infobloc1 {
  grid-area: onea;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.mdl-country {
  font-weight: bolder;
  font-size: 1.2rem;
}
.mdl-ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.mdl-li {
  list-style: none;
}
.mdl-span1 {
  font-weight: bolder;
}
.mdl-span1::after {
  content: ": ";
}
.mdl-span2 {
  font-weight: bolder;
  color: var(--dark-gray);
}
.mdl-infobloc2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.ddl-infobloc2 {
  grid-area: twob;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.mdl-border {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.ddl-border {
  grid-area: threec;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.mdl-borderco {
  font-weight: bolder;
  font-size: 1rem;
}
.mdl-bordergroup {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.mdl-bordercountry {
  padding: 0.4rem 0.7rem;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 88%);
  font-size: 0.8rem;
  font-weight: bold;
}
.mdd-bordercountry {
  padding: 0.4rem 0.7rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  font-size: 0.8rem;
  font-weight: bold;
}
.ddd-bordercountry {
  padding: 0.4rem 0.7rem;
  box-shadow: 0 0 3px 3px hsl(180, 0%, 12%);
  font-size: 0.8rem;
  font-weight: bold;
}
.mdl-bordercountry:hover,
.mdd-bordercountry:hover,
.ddd-bordercountry:hover {
  cursor: pointer;
  border: 1px solid gray;
}
/* Media Queries ************************/
@media (min-width: 500px) {
  main {
    width: 475px;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
}
@media (min-width: 700px) {
  main {
    width: 665px;
  }
}
@media (min-width: 800px) {
  main {
    width: 760px;
  }
  .mhl-article {
    flex-flow: row;
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  main {
    width: 950px;
  }
}
